.circulo {
  width: 50px;
  height: 50px;
  margin: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.verde {
  background: #5cb85c;
}

.azul {
  background-color: blue;
}

h3 {
  text-align: center;
}

/* Tablero de Ajedrez */

table {
  border-collapse: collapse;
  margin: auto;
}

.btns {
  text-align: center;
  margin-top: 30px;
}

h3 {
  margin-bottom: 30px;
  margin-top: 20px;
}